menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "Flower Pot"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.temperature-sensor"

    config APP_CONTROL_LOOP_INTERVAL
        int "Main control loop interval in ms"
        default 10000

    config APP_NTP_TZ
        string "TimeZone string"
        default "CET-1CEST,M3.5.0,M10.5.0/3" # Europe/Prague

    config APP_NTP_SERVER
        string "NTP server"
        default "cz.pool.ntp.org"
endmenu

menu "Irrigation control"
    config IRRIGATION_CRON_EXPRESSION
        string "Irrigation CRON expression"
        default "10 0 */2 * * ?"
        help
            Standard CRON expression, in format "s h m d M wd".

    config IRRIGATION_MAX_LENGTH_SECONDS
        int "Irrigation maximum length, in seconds"
        default 120
        help
            Irrigation is stopped after given number of seconds, even if high water threshold is not met.

    config IRRIGATION_WATER_LEVEL_LOW_PERCENT
        int "Low-water level threshold (percent)"
        default 0
        help
            Irrigation won't start, if water does not fall below this value.

    config IRRIGATION_WATER_LEVEL_HIGH_PERCENT
        int "High-water level threshold (percent)"
        default 100
        help
            Irrigation will stop at this water level.
endmenu

menu "Hardware config"
    config HW_VALVE_ENABLE_PIN
        int "Valve enable pin"
        default 26
        help
            Open normally closed valve pin

    config HW_DS18B20_PIN
        int "Temperature sensors data pin"
        default 27

    config HW_WATER_SENSOR_ENABLE_PIN
        int "Power-up water level sensors pin"
        default 25
        help
            Pin, which powers the water level and soil humidity sensors.

    config HW_WATER_LEVEL_ADC1_CHANNEL
        int "Water level sensor ADC1 channel"
        default 5
        help
            Look in docs, what channel corresponds to which pin.

    config HW_SOIL_SENSOR_TOUCH_PAD
        int "Soil humidity sensor touch pad channel"
        default 9
        help
            Look in docs, what channel corresponds to which pin.

    config HW_WATER_LEVEL_VALUE_LOW
        int "Low threshold for ADC raw value (0-4095)"
        default 1500
        help
            Threshold for ADC raw value, when level is considered submerged, in 12-bit (0-4095)

    config HW_WATER_LEVEL_VALUE_HIGH
        int "Threshold for ADC raw value (0-4095)"
        default 2850
        help
            Threshold for ADC raw value, when level is considered submerged, in 12-bit (0-4095)
endmenu

# ADC1 channel 0 is GPIO36 (ESP32), GPIO1 (ESP32-S2)
# ADC1 channel 1 is GPIO37 (ESP32), GPIO2 (ESP32-S2)
# ADC1 channel 2 is GPIO38 (ESP32), GPIO3 (ESP32-S2)
# ADC1 channel 3 is GPIO39 (ESP32), GPIO4 (ESP32-S2)
# ADC1 channel 4 is GPIO32 (ESP32), GPIO5 (ESP32-S2)
# ADC1 channel 5 is GPIO33 (ESP32), GPIO6 (ESP32-S2)
# ADC1 channel 6 is GPIO34 (ESP32), GPIO7 (ESP32-S2)
# ADC1 channel 7 is GPIO35 (ESP32), GPIO8 (ESP32-S2)

# Touch pad channel 0 is GPIO4(ESP32)
# Touch pad channel 1 is GPIO0(ESP32) / GPIO1(ESP32-S2)
# Touch pad channel 2 is GPIO2(ESP32) / GPIO2(ESP32-S2)
# Touch pad channel 3 is GPIO15(ESP32) / GPIO3(ESP32-S2)
# Touch pad channel 4 is GPIO13(ESP32) / GPIO4(ESP32-S2)
# Touch pad channel 5 is GPIO12(ESP32) / GPIO5(ESP32-S2)
# Touch pad channel 6 is GPIO14(ESP32) / GPIO6(ESP32-S2)
# Touch pad channel 7 is GPIO27(ESP32) / GPIO7(ESP32-S2)
# Touch pad channel 8 is GPIO33(ESP32) / GPIO8(ESP32-S2)
# Touch pad channel 9 is GPIO32(ESP32) / GPIO9(ESP32-S2)
# Touch pad channel 10 is GPIO10(ESP32-S2)
# Touch pad channel 11 is GPIO11(ESP32-S2)
# Touch pad channel 12 is GPIO12(ESP32-S2)
# Touch pad channel 13 is GPIO13(ESP32-S2)
# Touch pad channel 14 is GPIO14(ESP32-S2)
