menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "Example"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.switch"

    config APP_CONTROL_LOOP_INTERVAL
        int "Main control loop interval in ms"
        default 1000
        help
            Interval in which temperatures are read and fan speed adjusted.
endmenu

menu "Hardware config"
    config HW_DS18B20_PIN
        int "Temperature sensors data PIN"
        default 21

    config HW_SOIL_SENSOR_TOUCH_PAD
        int "Soil sensor touch pad"
        default 2
        help
            Look in docs, what pad corresponds to which pin.
endmenu
